/* ------------------------ CSS Demo ----------------- */
/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* -------------- Utility Classes ----------------- */
.container{
  width:80vw;
  max-width: 960px;
  margin: 20px auto;
}

.img-right{
  float: right;
  margin: 10px 0 10px 20px;
  border:0.5px solid #000000;
  padding:1px;
}

.img-left{
  float: left;
  margin: 10px 20px 10px 0;
  border:0.5px solid #000000;
  padding:1px;
}

.img-center{
  display:block;
  margin: 20px auto;
  border:0.5px solid #000000;
  padding:1px;
}




/* -------------- Responsive Images ----------------- */
img{
  max-width: 100%;
}



/*----------------- Gobal Styles ------------------*/

body{
    background-color: #F2EADF;
    font-family: sans-serif;
}
h1{
  font-family: "press Start 2p", sans-serif;
}
header.primary{
  background-color: #BFA38A;
  text-align: center;

  /* Single value short hand */
  padding: 20px; 

  /* long form* could adjust left right bottom and top/
  /* you even have padding: top left bottom right*/
  /* even two value top/bottom or left and right */
}

header.primary h1{
 text-shadow: 1px 3px #000000;
 font-size: 2rem;
 letter-spacing: 2px;
}

header.primary h1 a{
  color: #ffffff;
  text-decoration: none;
  word-spacing:1px;
}

header.primary nav ul{

  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 16px;

}
header.primary ul li{
  list-style-type: none;
}
header.primary nav ul a{
color: #6387A6;
background-color: #091626;
padding:5.5px;
border-radius: 12px;
text-decoration: none;
/*opacity:0.5; Not a right solution because it transparent all the element in this link*/
background-color: rgba(0,0, 0, .5);
transition: .9s;
}

header.primary nav a:hover{
  background-color: rgba(0,0, 0, 8);
}

#intro h2{
  color:  #BFA38A;
  border-bottom: 1px solid #000000;
}

#content{
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
padding:20px 0;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
margin:18px auto;
}

#content .post{
  box-shadow: 0 4px 8px rgba(0,0, 0, .3);
  padding: 10px;
  font: 0.9rem;
}

#content header figure{
  margin: 0;
}
#content a{
 color: #6387A6;
transition: .9s;
}

#content a:hover{
  text-decoration: none;
}

#content time.post-date, #content figcaption{
  text-transform: uppercase;
  font-size: 0.7rem;
}

#practice h2{
  color:  #BFA38A;
  border-bottom: 1px solid #000000;
}

#practice a{
color: #6387A6;
}

#practice a:hover{
  text-decoration: none;
}

#practice h3{
 border-left:10px solid #6387A6;
 padding: 10px;
}

/*//////////////////////////////table//////////////////////////////*/
#practice table{
  width: 100%;
 border:1px solid #091626;
 border-collapse: collapse;
}

#practice caption{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 10px;
 
}

#practice tr:ntn-child(even){
  background-color: #091626;
}

#practice tr:hover{
  background-color: #BFA38A;
}
#practice td:first-child{
text-align: left;
}


#practice td:nth-child(n+2){
text-align: right;
}

#practice th{
  background-color: #6387A6;
  color:#ffffff;
}

#practice td{
 border:1px solid #091626;
 padding: 5px;
}








aside[role="complementary"]{
  background-color: #735645;
  color: white;
  padding: 40px 0;
}

aside .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
aside .container a{
   color: white;
   display: block;
   text-align: right;
   margin-top: 15px;
}

aside .widget footer{
  display: none;
}

#colophon{
  background-color: #091626;
  padding: 1px;
  color:#ffffff;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width:600px){
header.primary nav ul{
  flex-direction: column;
 gap: 10px;
}
header.primary nav ul a{
  display: block;
}
.container{
  width:90vw;
  margin: 20px auto;

}


}
