/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*        Global Style                        */
body{
  background-color: #F8F8F8;
}

.page-header{
  background-color: darkgray;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
}

.main-navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-navigation ul li{
  list-style-type: none;
}

.main-navigation ul li a{
  text-decoration: none;
  color:black;
  background-color:gray;
  padding: 5px;
  border-radius: 6px;
}

.introduction h2{
  border-left: 5px solid black ;
  padding: 7px;
}

.three-article{
  display: flex;
  flex-direction: row;
}

article.content{
 
}

/* ------------ Media Queries ----------------- */