/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*        Global Style                        */
body{
}

header{
    margin:O;
}








/* ------------ Media Queries ----------------- */
