/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Utilities*/
.container{
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}



/*        Global Style                        */
body{
  background-color: #FAD390;
  margin:0;
}

.page-header{
  background-color: darkgray;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: black;
  position: relative;
}
.page-header::before{
  content: "";
  background-image: url("../img/vietnam.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.page-header h2{
  font-size: 2rem;
  margin: 20px 0;
  position: relative;
}
.page-header p{
  font-size: 0.8rem;
  margin: 20px 0;
  position: relative;
}

.main-navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.main-navigation ul li{
  list-style-type: none;
  padding:0;
  width: 20%;
}

.main-navigation ul li a{
  text-decoration: none;
  color:black;
  background-color: rgba(173, 255, 47, 0.6);
  padding: 5px;
  border-radius: 6px;
  transition: 0.9s;
}

.main-navigation nav a:hover{
  background-color: rgba(173, 255, 47, 1);
 }

.introduction h2{
  border-left: 5px solid black ;
  padding: 7px;
}

article.content{
  width: 35%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #f8f8f8;
}

.container div{
  display: flex;
  gap:30px
}
/*----------Image Responsive-----------*/
img{
  max-width: 100%;
  height:auto;
}

/* ------------ Media Queries ----------------- */
